<div class="careers">
     <section class="section section-hero" preload-bg-image="assets/img/team-bg-main.jpg" default-image="assets/img/team-bg-main.jpg" fallback-image="assets/img/team-bg-main.jpg">
        <div class="container">
            <h1 class="h1">Careers</h1>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="section section-careers">
        <div class="container">
            <div class="flex-container">

                <!-- This is a career box-->
                <div class="flex-item job">
                    <div>
                        <h5 class="job-title h5">Marketing & Sales Associate</h5>
                    <p class="job-description">
                        We are looking for a marketing & sales associate with sales experience (in pharma industry preferred, or technical fields). Ability to work in very dynamic environment, mastery of English and willingness to travel internationally are a must!
                    </p>
                    <a href="assets/download/pdf-ex.pdf" download="pdf-ex.pdf"  target="_self" class="button btn-reversed">Download job description</a>
                    </div>    
                </div>

                <!-- This is a career box-->
                <div class="flex-item job">
                    <div>
                        <h5 class="job-title h5">Mechatronic Engineer</h5>
                    <p class="job-description">
                        We are looking for a mechatronic engineer with experience in designing and building complex systems. Ability to work in very dynamic environment, mastery of technical tools and high autonomy are a must!
                    </p>
                    <a href="assets/download/pdf-ex.pdf" download="pdf-ex.pdf"  target="_self" class="button btn-reversed">Download job description</a>
                    </div>
                </div>
            
            <!-- This is a career box-->
                <div class="flex-item job">
                    <div>
                        <h5 class="job-title h5">Sourcing Manager</h5>
                    <p class="job-description">
                        We are looking for a sourcing manager with experience in international procurement, preferably in the medical field. Willingness to travel, excellent relational skills and negotiation skills are as must!
                    </p>
                    <a href="assets/download/pdf-ex.pdf" download="pdf-ex.pdf"  target="_self" class="button btn-reversed">Download job description</a>
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>
</div>