<div class="homepage">
    <section class="section section-hero" preload-bg-image="assets/img/hero-background.png" default-image="assets/img/hero-background.png" fallback-image="assets/img/hero-background.png">
        <div class="container">
            <h1 class="h1">Base Agnular App</h1>
            <h3 class="h3">In the future we might not prescribe drugs all the time - we might prescribe apps.</h3>
            <span scroll-to-section="section-features" class="next-section"></span>
        </div>
        
    </section>
  
    <section class="section section-features" scroll-section="section-features">
       
        <div class="flex-container parent">
            <div class="flex-item">
                
                <div class="text-container">
                    <div class="top-ctn">
                        <h2 class="h2">Mission</h2>
                        <p class="text">My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style.</p>
                    </div>
                    <a data-ui-sref="mission" class="button btn-reversed">Learn more</a>
                </div>
                <div class="image-container">
                    <img src="assets/img/mission-ex.jpg" preload-bg-image="assets/img/mission-ex.jpg" default-image="assets/img/mission-ex.jpg" fallback-image="assets/img/mission-ex.jpg"/>
                </div>
            </div>
             <div class="flex-item">
                
                <div class="text-container">
                    <div class="top-ctn">
                        <h2 class="h2">Products</h2>
                        <p class="text">Discover a range of game-changing products.</p>
                    </div>
                    <a data-ui-sref="product1" class="button btn-reversed">Learn more</a>
                </div>
                    <div class="image-container">
                        <img src="assets/img/products-ex.jpg" preload-bg-image="assets/img/products-ex.jpg" default-image="assets/img/products-ex.jpg" fallback-image="assets/img/products-ex.jpg"/>
                </div>
            </div>

            <div class="flex-item">
                
                <div class="text-container">
                    <div class="top-ctn">
                        <h2 class="h2">Team</h2>
                        <p class="text">Great things in business are never done by one person. They're done by a team of people.</p>
                    </div>
                    <a data-ui-sref="team" class="button btn-reversed">Learn more</a>
                </div>
                    <div class="image-container">
                    <img src="assets/img/team-ex.jpeg" preload-bg-image="assets/img/team-ex.jpeg" default-image="assets/img/team-ex.jpeg" fallback-image="assets/img/team-ex.jpeg"/>
                </div>
            </div>
           
            <div class="flex-item">
                
                <div class="text-container">
                    <div class="top-ctn">
                        <h2 class="h2">Partners</h2>
                        <p class="text">Treat your customers like lifetime partners.</p>
                    </div>
                    <a data-ui-sref="partners" class="button btn-reversed">Learn more</a>
                </div>
                    <div class="image-container">
                    <img src="assets/img/partners-bg.jpg" preload-bg-image="assets/img/partners-bg.jpg" default-image="assets/img/partners-bg.jpg" fallback-image="assets/img/partners-bg.jpg"/>
                </div>
            </div>
            <div class="flex-item">
                <div class="text-container">
                    <div class="top-ctn">
                        <h2 class="h2">Careers</h2>
                        <p class="text">I've always had the kinds of careers that have a tendency to go home with you.</p>
                    </div>
                    <a data-ui-sref="careers" class="button btn-reversed">Learn more</a>
                </div>
                    <div class="image-container">
                    <img src="assets/img/careers-ex.jpg" preload-bg-image="assets/img/careers-ex.jpg" default-image="assets/img/careers-ex.jpg" fallback-image="assets/img/careers-ex.jpg"/>
                </div>
            </div>
        </div>       
    </section>

</div>