<div class="mission">
     <section class="section section-hero" preload-bg-image="assets/img/mission-bg-main.jpg" default-image="assets/img/mission-bg-main.jpg" fallback-image="assets/img/mission-bg-main.jpg">
        <div class="container">
            <h1 class="h1">Mission</h1>

        </div>
        <div class="overlay"></div>
    </section>
    <section class="section section-mission">
        <div class="container">
            <h5 class="h5">A mission statement is not something you write overnight... But fundamentally, your mission statement becomes your constitution, the solid expression of your vision and values. It becomes the criterion by which you measure everything else in your life.</h5>
            <p>
                Spicy jalapeno bacon ipsum dolor amet shankle short ribs cow bacon landjaeger tenderloin, burgdoggen ham. Turducken ground round hamburger cow, turkey frankfurter pig pastrami beef boudin flank pork loin kevin. Alcatra salami ribeye brisket rump. 
            </p>
            <p>
                Shankle strip steak corned beef alcatra spare ribs jerky. Tenderloin bresaola shoulder cow venison, pork belly leberkas turkey ribeye filet mignon bacon. Tail burgdoggen t-bone, drumstick porchetta ground round tongue prosciutto pork belly beef ribs chicken turducken frankfurter tenderloin.
            </p>
        </div>
        
    </section>
</div>