<div class="partners">
     <section class="section section-hero" preload-bg-image="assets/img/partners-bg-main.jpg" default-image="assets/img/partners-bg-main.jpg" fallback-image="assets/img/partners-bg-main.jpg">
        <div class="container">
            <h1 class="h1">Partners</h1>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="section section-partners">
        <div class="container">
            <div class="flex-container logo-container">

                <!-- This is a partner box-->
                <a href="" target="_blank" class="flex-item">
                    <div class="image-container">
                        <img src="assets/img/logo-ex-black.png"/>
                    </div>
                    <div class="text-container">
                        <p>Company name</p>
                    </div>
                </a>

                <!-- This is a partner box-->
                <a href="" target="_blank" class="flex-item">
                   <div class="image-container">
                        <img src="assets/img/logo-ex-black.png"/>
                    </div>
                    <div class="text-container">
                        <p>Company name</p>
                    </div>
                </a>

                <!-- This is a partner box-->
                <a href="http://www.scientipole-idf.com/" target="_blank"class="flex-item">
                    <div class="image-container">
                        <img src="assets/img/logo-ex-black.png"/>
                    </div>
                    <div class="text-container">
                        <p>Company name</p>
                    </div>
                </a>

                <!-- This is a partner box-->
                <a href="" target="_blank" class="flex-item">
                    <div class="image-container">
                        <img src="assets/img/logo-ex-black.png"/>
                    </div>
                    <div class="text-container">
                        <p>Company name</p>
                    </div>                
                </a>

                
            </div>
        </div>
        
    </section>
</div>