<div class="team">
     <section class="section section-hero" preload-bg-image="assets/img/team-bg-main.jpg" default-image="assets/img/team-bg-main.jpg" fallback-image="assets/img/team-bg-main.jpg">
        <div class="container">
            <h1 class="h1">Team</h1>
            
        </div>
        <div class="overlay"></div>
        
    </section>
    <section class="section section-team">
      
            <sticky-bar title="Management"></sticky-bar>
            <div class="container">

                <!-- This is a team member box-->
                <div class="flex-container">
                    <div class="flex-item image-container">
                        <img src="assets/img/profile-placeholder.jpg"/>
                    </div>
                    <div class="flex-item text-container">
                        <h5 class="name">Jack Rose, Co-founder</h5>
                        <p class="description">
                            This looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue we exceed the clients' expectations This looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue we exceed the clients' expectations.
                        </p>
                    </div>
                </div>

                <!-- This is a team member box-->
                <div class="flex-container">
                    <div class="flex-item image-container">
                        <img src="assets/img/profile-placeholder.jpg"/>
                    </div>
                    <div class="flex-item text-container">
                        <h5 class="name">Jack Roset, Co-founder</h5>
                        <p class="description">
                            This looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue we exceed the clients' expectations.

                        </p>
                    </div>
                </div>
            </div>
     
       
            <sticky-bar class="second" title="Advisory Board"></sticky-bar>
            <div class="container">

                <!-- This is a team member box-->
                <div class="flex-container">
                    <div class="flex-item image-container">
                        <img src="assets/img/profile-placeholder.jpg"/>
                    </div>
                    <div class="flex-item text-container">
                        <h5 class="name test">Jack Rose, Board Member</h5>
                        <p class="description">
                            This looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue we exceed the clients' expectations.
                        </p>
                    </div>
                </div>

                <!-- This is a team member box-->
                <div class="flex-container">
                    <div class="flex-item image-container">
                        <img src="assets/img/profile-placeholder.jpg"/>
                    </div>
                    <div class="flex-item text-container">
                        <h5 class="name">Michael Spooner, Board Member</h5>
                        <p class="description">
                         This looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue we exceed the clients' expectations.This looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue we exceed the clients' expectations.

                        </p>
                    </div>
                </div>

            </div>
      
    </section>
</div>